*{overflow: auto;}

body{background-color: #8ba1bb;
    font-family: Arial;
    margin:0;
    
    }

p.categorie{background-color: black;
color : white;
display: inline-block;
margin-top: -17px;
margin-bottom: 0px;
padding: 8px 18px;
font-weight: bold;
font-size: 16px;

}

div.categorie{text-align: center;
              margin-bottom: 0px;
              margin-top: 0px;
              overflow: visible;}

div.separateur{width: 100px;
               height: 1px;
               background-color: black;
               margin-left: auto;
               margin-right: auto;
               }

div.contenu {background-color: white;
            margin: 40px 8% 40px 8%;
            padding : 0px 30px 30px 30px;
            /*min-width: 350px;*/
            box-shadow: 0px 0px 8px 8px rgba(0,0,0,0.1);
            overflow: visible;}

h1{text-align: center;
    margin-bottom: 12px;
    margin-top: 10px;
    font-size: 16px;}
p.description {
               max-width: 400px;
               display: inline-block;}

div.description{text-align: center;}

.centre{width: 100%;
        display: block;}

img.infos{
    object-fit: cover;
    min-height: 200px;
    background-color: grey;}

div.infos{
    position: relative;}

table.infos{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #6C829DC0; 
    color: white;
    height: 50px;}

table.infos td {
    text-align: center;
    font-size: 12px;
    vertical-align: top;}

table.infos th {
    font-size: 14px;
    padding-bottom: 8px;
}

div.colonne {
    width: 100%;
    margin-top: 20px;
}
div.colonne1{
    display: inline-block;
}

div.colonne h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: 5px solid #6C829DC0;
    padding-bottom: 5px; 
}
div.ingredients p {
    border: 1px solid lightgrey;
    text-align: center;
    font-size: 14px;
    padding: 8px 0px;
    margin-top: 4px;
    margin-bottom: 0px;
}

table.preparation p.numero {
    background-color: #6C829DC0 ;
    color : white;
    width : 25px;
    height: 25px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding-top: 4px;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 0;
}
table.preparation td{
    vertical-align: top;
}

table.preparation td.preparation_etape{
    font-size : 14px;
    padding-left: 10 px;
    padding-bottom: 10px ;
}

table.preparation tr{
    height: 40px;
}

/* styles pour ordinateur */
@media only screen and (min-width: 600px){

    div.contenue{
        min-width: 350px;
        margin: 60px 10% 80px 10%;
        padding : 0px 30px 30px 30px;}

    table.infos
    {
        height: 80px;
    }
    table.infos th {font-size: 16px}

    table.infos td {font-size: 14px}

    div.colonne {
        width: 45%;
    }
    div.colonne1{
        display: inline-block;
    }

    div.colonne2{
        float:right;
    }
}

/* Quand ecran tres large*/
@media only screen and (min-width: 900px){
div.contenue{
    margin-left: auto;
    margin-right: auto;
    width: 645px}
}